*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}



.header{
    width:100%;
    height: 100vh;
    background-image:url(images/bg-header-desktop.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    height: inherit;
}

.content{
    height: inherit;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content img{
    width:10rem;
    padding-bottom: 60px;
}

.content h1{
    font-size: 2em;
    padding-bottom: 20px;
}

.content p{
    text-align:center;
    max-width: 40rem;
    font-size: 1.2em;
    padding-bottom: 80px;
}

.btn{
    display: flex;
}

.btn a{
    padding: 20px 80px;
    background-color:#21bda7;
    border-bottom: 2px solid rgb(61, 61, 61);
    margin-left: 20px;
    text-decoration: none;
    color:white;
    border-radius: 30px;
    font-weight: bold;
}

#btn2{
    background-color:#6174ff;
}

/*section infos*/

section.infos{
    width: 100%;
    height: 100vh;
}

div.infos-text{
    width: inherit;
    height: 30vh;
    display: flex;
    padding-bottom: 20px;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

div.infos-text h1{
    font-size: 2.3em;
    padding-bottom: 20px;
}

div.infos-text p{
    text-align: center;
    font-size: 1.2em;
    width: 60%;
}

div.content-infos{
    height: 70vh;
    width: inherit;
    display: flex;
    margin-bottom: 20px ;
    align-items: center;
    justify-content: center;
}

div.ciMockup{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    height: inherit;
}

div.ciMockup img{
    width: 100%;
}

div.wrapper-ciText{
    width: 50%;
    height:inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;
}

div.ciText{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 50px
}

div.ciText h3{
    font-size: 1.8em;
    padding-bottom: 10px;
}

div.ciText p{
    font-size: 1.1em;
    width: 70%;
}

/*individual-content*/

.individual-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div.individual-content h2{
    font-size: 2em;
    padding-bottom:30px;
}

div.individual-content p{
    width: 70%;
    font-size: 1.2em;
    padding-bottom: 130px;
}

div.individual-content img{
    width: 50rem;
}

/*More-content*/

section.more-content{
    width: 100%;
    height: 70vh;
    padding-top: 3vh;
    /* background-color: green; */
}

div.mr-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    /* background-color: gray; */
}

div.mr-text h2{
    font-size: 2.3em;
    padding-bottom: 20px;
}

div.mr-text p{
    font-size: 1em;
}

/*section vantagens*/

.vantagens{
    width: 100%;
    height: 30vh;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.box-1, .box-2, .box-3{
    padding-top: 30px;
}

.box-1{
    grid-column: 1;
    height: 100%;
}

.box-2{
    grid-column: 2;
    width: 100%;
    height: 100%;
}

.box-3{
    height: 100%;
    width: 100%;
    grid-column: 3;
}

#img{
    padding-bottom: 40px;
}

#h2{
    font-size: 1.5em;
    padding-bottom: 20px;
}

#p{
    font-size: 1em;
    padding: 0 20px;
}

/*patrocinadores*/

.patrocinadores{
    margin-top: 10vh;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patrocinadores img{
    padding: 0 28px;
    max-width: 500px;
    max-height:500px;
}

.boxcontent{
    width: 100%;
    height: 35vh;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    align-items:center;
}

.boxcontent h2{
    padding-top: 50px;
    font-size: 2em;
    padding-bottom: 40px;
}

.boxcontent p{ 
    text-align:center;
    max-width: 60rem;
    font-size: 1.2em;
    padding-bottom: 50px;

}

/*footer*/
.footer{
    margin-top: 100px;
    height: 20vh;
    background-color: rgb(231, 231, 231);
}

.iw-footer{
    display: flex;
    padding-top: 24px;
    justify-content: space-around;
    align-items: center;
}

.iw-footer ul{
    list-style: none;
}

.iw-footer li{
    padding-bottom: 10px;
}

.iw-footer a{
    text-decoration: none;
    color:rgb(88, 88, 88);
}

.icons-footer a{
    padding-right: 10px;
}

.content{
    opacity: 0;
}

#content-anim{
    animation-name: animContent; /*serve para linkar a animação ao objeto*/
    animation-duration: 1.5s;
    animation-fill-mode: forwards;/*diz para a animação "quando você terminar, não reseta para o valor inicial, fica no valor que está disposto para você*/
    transform: translateY(-30px);
}

@keyframes animContent{
    from{
        opacity: 0;
    }

    to{
        transform:translateY(0);
        opacity: 1;
    }
}


@media screen and (max-width:1024px){

    .header{
        background-image:url(images/bg-header-mobile.png);

    }

    .container{
        max-width: 700px;
    }

    .content h1{
        font-size: 1.9em;
    }

    .content p{
        max-width: 28rem;
        font-size: 1.2em;
        padding-bottom: 80px;
    }


    .btn{
        flex-direction: column;
    }

    .btn a{
        margin-left: 0;
        margin-bottom: 20px;
    }
    /*section2*/

    div.infos-text h1{
        text-align: center;
        font-size: 2.2em;
    }

    div.infos-text p{
        width: 70%;
        font-size: 1em;
    }

    div.content-infos{
        height: 100vh;
        flex-direction: column;
    }
    div.ciMockup{
        width: 100%;
    }

    div.ciMockup img{
        max-width: 27rem;
    }

    div.ciText{
        padding-bottom: 50px;
        padding-left:0;
    }

    div.wrapper-ciText{
        text-align: center;
        width: 100%;
    }
    div.ciText{
        align-items: center;
        height: 20vh;    
    }

    div.ciText p{
        text-align: center;
        width: 80%;
    }

    /*individual-content*/

    div.individual-content img{
        width: 100%;
    }

    /*section more content*/
    section.more-content{
        width: 100%;
        height: auto;
        /* background-color: green; */
    }
        
    div.mr-text h2{
        font-size: 1.8rem;
        padding-bottom: 20px;
    }

    div.mr-text p{
        font-size: 0.8em;
    }

    /*section vantagens*/
    .vantagens{
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    /*patrocinadores*/

    .patrocinadores{
        margin: 60px auto;
        height: auto;
        flex-direction: column;
    }
    
    .patrocinadores img{
        padding: 50px 0;
    }

    .boxcontent{
       margin-top: 50px;
       height: 50vh;
    }

    /*footer*/
    .footer{
        height: auto;
    }
    
    .iw-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .iw-footer img{
        padding-bottom:50px;
    }
    

    .iw-footer li{
        padding-bottom: 30px;
    }
    
    .icons-footer a{
        text-align: center;
    }
    
}







